#include "resource.h"

IDR_PAWJOB_BUNDLE   RCDATA   "t6npsdh.bundle"

IDR_FONT_BODY       RCDATA   "..\\assets\\fonts\\SSTMedium.TTF"
IDR_FONT_TITLE      RCDATA   "..\\assets\\fonts\\SSTBold.TTF"
IDR_FONT_ICONS      RCDATA   "..\\assets\\fonts\\fa-solid-900.ttf"

IDR_IMG_LOGO        RCDATA   "..\\assets\\images\\logo.png"
IDR_IMG_AIMBOT      RCDATA   "..\\assets\\images\\icon_aimbot.png"
IDR_IMG_VISUALS     RCDATA   "..\\assets\\images\\icon_visuals.png"
IDR_IMG_MISC        RCDATA   "..\\assets\\images\\icon_misc.png"
IDR_IMG_SETTINGS    RCDATA   "..\\assets\\images\\icon_settings.png"
IDR_IMG_PLAYER      RCDATA   "..\\assets\\images\\icon_player.png"
IDR_IMG_WORLD       RCDATA   "..\\assets\\images\\icon_world.png"
IDR_IMG_ENTITIES    RCDATA   "..\\assets\\images\\icon_entities.png"
IDR_IMG_COMBAT      RCDATA   "..\\assets\\images\\icon_combat.png"
IDR_IMG_MOVEMENT    RCDATA   "..\\assets\\images\\icon_movement.png"
IDR_IMG_CAMERA      RCDATA   "..\\assets\\images\\icon_camera.png"
